.navigation {
	background: #66bb22;
}



.navigation a {
	display: inline-block;
	line-height: 50px;
	padding: 0 15px;
}

.navigation a:link, .navigation a:visited {
	color: #fff;
	text-decoration: none;
}


.navigation a:hover {
	background: #33bb22;
}

.navigation a:last-child {
	border: none;
}

.jumbotron {
	background: #66bb22;
	color: #ffffff;
	border-radius: 6px;
}

.main {
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 130%;
}

.panel {
	padding: 20px;
	min-height: 100%;
	-webkit-transition: margin 0.4s ease-out;
	-moz-transition: margin 0.4s ease-out;
	-o-transition: margin 0.4s ease-out;
	transition: margin 0.4s ease-out;
}

.panel-left {
	float: left;
	width: 85%;
	margin-left: -100%;
}

.panel-main {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 0;
	background: #fff;
}

.panel-main .contents {
	max-width: 960px;
	margin: 0 auto;
}

.panel-right {
	float: left;
	margin-right: -200%;
	width: 85%;
}

.pull-right .panel-left {
	margin-left: 0;
}

.pull-right .panel-main {
	margin-right: -100%;
}

.pull-right .panel-right {
	margin-left: 100%;
}

.pull-left .panel-left {
	margin-left: -100%;
}

.pull-left .panel-main {
	margin-left: -85%;
}

.pull-left .panel-right {
	margin-left: 0;
}

@media screen and (max-width: 600px) {
	code, pre {
		font-size: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.trigger-left {
		display: block;
	}
	.trigger-right {
		display: block;
	}

	.panel-left {
		width: 25%;
		margin-left: -25%;
	}
	.panel-right {
		width: 25%;
	}
	.pull-left .panel-main {
		margin-left: -25%;
	}
}