.jumbotron {
	background: #66bb22;
	color: #ffffff;
	border-radius: 6px;
}

.main {
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 130%;
}

.panel {
	padding: 20px;
	min-height: 100%;
	-webkit-transition: margin 0.4s ease-out;
	-moz-transition: margin 0.4s ease-out;
	-o-transition: margin 0.4s ease-out;
	transition: margin 0.4s ease-out;
}

.panel-left {
	float: left;
	width: 85%;
	margin-left: -100%;
	border-right: solid 1px #CCC;
}

.panel-main {
	position: relative;
	float: left;
	width: 100%;
	margin-left: 0;
	background: #fff;
}

.panel-main .contents {
	max-width: 960px;
	margin: 0 auto;
}

.panel-right {
	float: left;
	margin-right: -200%;
	width: 85%;
	border-left: solid 1px #CCC;
}

.pull-right .panel-left {
	margin-left: 0;
}

.pull-right .panel-main {
	margin-right: -100%;
}

.pull-right .panel-right {
	margin-left: 100%;
}

.pull-left .panel-left {
	margin-left: -100%;
}

.pull-left .panel-main {
	margin-left: -85%;
}

.pull-left .panel-right {
	margin-left: 0;
}

.trigger {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 40px; height: 65px;
	background: #66bb22;
}

.trigger span {
	color: #fff;
	position: absolute;
	top: 6px;
}

.trigger-left {
	top: 30px; left: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.trigger-left span {
	left: 6px;
}

.trigger-right {
	top: 30px; right: 0;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.trigger-right span {
	right: 6px;
}

@media screen and (max-width: 600px) {
	code, pre {
		font-size: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.trigger-left {
		display: block;
	}
	.trigger-right {
		display: block;
	}

	.panel-left {
		width: 25%;
		margin-left: -25%;
	}
	.panel-right {
		width: 25%;
	}
	.pull-left .panel-main {
		margin-left: -25%;
	}
}